QWidget{
    background-color: #b9c6e4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#titulo{
    padding-left: 100px;
    padding-right: 100px;
}

#buttons{
    font: bolder;
    font-size: 13px;
    font-weight: 700;
    color: black;
    background-color: #4D7CED;
    border: 0;
    border-radius: 15px;
}

#buttons:hover{
    background-color: #7299f4;
}

#lbl_image{
    padding-left: 100px;
    padding-right: 100px;
}

#lbl_alerta_carregado{
    padding-left: 50px;
    padding-right: 70px;
    font-size: 13px;
    font-weight: 700;
    color: black;
}

#lbl_alerta_merge{
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 13px;
    font-weight: 700;
    color: black;
}